# 使用国内镜像加速下载
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 其他优化
prefer-offline=true
cache=$HOME/.npm-cache
